.appoint__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;

}
.appoint__top {
    margin: 1rem 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.appoint__top button {
    border: 1px solid #ddd;
    background-color: white;
    border-radius: .25rem;
    padding: 1rem;
    transition: color 150ms, background 150ms;
    cursor: pointer;
}
.appoint__top button:hover {
    color: white;
    background-color: #c0bebe;
}
.appoint__top input {
    padding: .5rem;
    border: none;
    width: 25%;
    border-radius: .25rem;
}
.appointments__list{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
