@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    text-decoration: none;
    color: black;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
#root {
    height: 100vh;
    background: linear-gradient(to top, #c4a4ff, #e4d7fc) no-repeat center;
}